--
-- PostgreSQL database dump
--

\restrict gBnRh0UKw3THFosMQRLRPFCASa1NRfCIVUBBzl3MxB7JgpISuFZPMZQP9Ojv01k

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: orders_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.orders_cart OWNER TO postgres;

--
-- Name: orders_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_cartitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    cart_id bigint NOT NULL,
    color_id bigint,
    product_id bigint NOT NULL,
    memory_id bigint,
    unit_price numeric(10,2),
    case_size_id bigint,
    screen_size_id bigint,
    CONSTRAINT orders_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_cartitem OWNER TO postgres;

--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    address text NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    color_id bigint,
    memory_id bigint,
    case_size_id bigint,
    screen_size_id bigint,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_brand (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    logo character varying(100)
);


ALTER TABLE public.products_brand OWNER TO postgres;

--
-- Name: products_brand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_brand ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_brand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_casesizeoption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_casesizeoption (
    id bigint NOT NULL,
    label character varying(50) NOT NULL
);


ALTER TABLE public.products_casesizeoption OWNER TO postgres;

--
-- Name: products_casesizeoption_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_casesizeoption ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_casesizeoption_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    icon character varying(10) NOT NULL
);


ALTER TABLE public.products_category OWNER TO postgres;

--
-- Name: products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_color; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_color (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    hex_code character varying(7) NOT NULL
);


ALTER TABLE public.products_color OWNER TO postgres;

--
-- Name: products_color_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_color ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_color_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_memoryoption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_memoryoption (
    id bigint NOT NULL,
    label character varying(50) NOT NULL
);


ALTER TABLE public.products_memoryoption OWNER TO postgres;

--
-- Name: products_memoryoption_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_memoryoption ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_memoryoption_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    old_price numeric(10,2),
    rating numeric(3,1) NOT NULL,
    is_available boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    brand_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products_product OWNER TO postgres;

--
-- Name: products_product_case_size_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product_case_size_options (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    casesizeoption_id bigint NOT NULL
);


ALTER TABLE public.products_product_case_size_options OWNER TO postgres;

--
-- Name: products_product_case_size_options_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product_case_size_options ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_case_size_options_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product_colors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product_colors (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    color_id bigint NOT NULL
);


ALTER TABLE public.products_product_colors OWNER TO postgres;

--
-- Name: products_product_colors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product_colors ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_colors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product_memory_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product_memory_options (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    memoryoption_id bigint NOT NULL
);


ALTER TABLE public.products_product_memory_options OWNER TO postgres;

--
-- Name: products_product_memory_options_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product_memory_options ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_memory_options_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product_screen_size_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product_screen_size_options (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    screensizeoption_id bigint CONSTRAINT products_product_screen_size_optio_screensizeoption_id_not_null NOT NULL
);


ALTER TABLE public.products_product_screen_size_options OWNER TO postgres;

--
-- Name: products_product_screen_size_options_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product_screen_size_options ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_screen_size_options_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productcasesizeprice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productcasesizeprice (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    old_price numeric(10,2),
    case_size_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_productcasesizeprice OWNER TO postgres;

--
-- Name: products_productcasesizeprice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productcasesizeprice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productcasesizeprice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    is_main boolean NOT NULL,
    product_id bigint NOT NULL,
    color_id bigint
);


ALTER TABLE public.products_productimage OWNER TO postgres;

--
-- Name: products_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productmemoryprice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productmemoryprice (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    old_price numeric(10,2),
    memory_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_productmemoryprice OWNER TO postgres;

--
-- Name: products_productmemoryprice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productmemoryprice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productmemoryprice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productscreensizeprice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productscreensizeprice (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    old_price numeric(10,2),
    product_id bigint NOT NULL,
    screen_size_id bigint NOT NULL
);


ALTER TABLE public.products_productscreensizeprice OWNER TO postgres;

--
-- Name: products_productscreensizeprice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productscreensizeprice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productscreensizeprice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productspec; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productspec (
    id bigint NOT NULL,
    key character varying(100) NOT NULL,
    value character varying(200) NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_productspec OWNER TO postgres;

--
-- Name: products_productspec_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productspec ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productspec_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_screensizeoption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_screensizeoption (
    id bigint NOT NULL,
    label character varying(50) NOT NULL
);


ALTER TABLE public.products_screensizeoption OWNER TO postgres;

--
-- Name: products_screensizeoption_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_screensizeoption ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_screensizeoption_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews_review (
    id bigint NOT NULL,
    rating integer NOT NULL,
    text text NOT NULL,
    is_approved boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL,
    cons text NOT NULL,
    pros text NOT NULL
);


ALTER TABLE public.reviews_review OWNER TO postgres;

--
-- Name: reviews_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reviews_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_profile (
    id bigint NOT NULL,
    avatar character varying(100),
    phone character varying(20) NOT NULL,
    balance numeric(10,2) NOT NULL,
    user_id integer NOT NULL,
    address text NOT NULL
);


ALTER TABLE public.users_profile OWNER TO postgres;

--
-- Name: users_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_wishlist (
    id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL,
    color_id bigint,
    memory_id bigint
);


ALTER TABLE public.users_wishlist OWNER TO postgres;

--
-- Name: users_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1200000$dN80IyTTJbbfrwvTluc1zK$oPWZR0vQyZcDEgeg78bK354sOxXNGbmHowKYD5OnQz4=	2026-04-26 21:43:13.827+03	t	testuser1	testuser1		testuser1@gmail.com	t	t	2026-04-23 00:37:38+03
2	pbkdf2_sha256$1200000$5j2Bq18h9KwP8l3UCJFFTl$2JcxkMcEGpzZY8WjolWjPZ4WGHKWUmma49R5FzLrsrs=	2026-05-11 00:29:28.396148+03	t	rosty	Микола	Ростівський	nikolayrostivskiy@gmail.com	t	t	2026-04-26 21:41:56+03
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
ig8246wh9ce81e5iq5ybdp8abe20qs8g	.eJxVjMEOwiAQBf-Fc9MUBCk9evcLjCELu7XVBgxQjTH-u23SS69vZt6XJfIUyvSxr5HehPaZIs6-2BEz6y5c6Yq36loxC3MZ7JwpLYh1TLDd5sA_KKwA7xBusfYxlDS6elXqjeb6HJGm0-buDgbIw1Jz0xIiGSkINPUHUNJxCQgosVdGCO1aodEZQt5I7sDIRoInZczRaIHs9weuIUaA:1wMBiK:E2WzUJW9E6R9xp4xTFoKHltfMvBXcQx9Ef4kNVFtMuQ	2026-05-25 00:29:28.400373+03
\.


--
-- Data for Name: orders_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_cart (id, created_at, user_id) FROM stdin;
2	2026-04-23 00:55:12.824+03	1
3	2026-04-26 21:42:40.892+03	2
\.


--
-- Data for Name: orders_cartitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_cartitem (id, quantity, cart_id, color_id, product_id, memory_id, unit_price, case_size_id, screen_size_id) FROM stdin;
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_order (id, status, total_price, created_at, address, user_id) FROM stdin;
7	pending	84395.00	2026-04-30 18:53:12.056+03	м. Київ, вул. Героїв Дніпра, 62	2
8	shipped	113598.00	2026-05-05 13:07:11.045+03	м. Київ, вул. Героїв Дніпра, 62	2
\.


--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_orderitem (id, quantity, price, order_id, product_id, color_id, memory_id, case_size_id, screen_size_id) FROM stdin;
11	1	79999.00	7	19	4	3	\N	\N
12	1	999.00	7	172	\N	\N	\N	\N
13	1	1099.00	7	159	\N	\N	\N	\N
14	1	1699.00	7	145	\N	\N	\N	\N
15	1	599.00	7	151	\N	\N	\N	\N
16	2	56799.00	8	83	18	2	\N	\N
\.


--
-- Data for Name: products_brand; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_casesizeoption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_casesizeoption (id, label) FROM stdin;
1	40
2	44
3	42
4	46
5	36
6	45
7	27
8	50
\.


--
-- Data for Name: products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_category (id, name, slug, icon) FROM stdin;
1	Смартфони	smartphones	📱
2	Смарт-годинники	watches	⌚
3	Навушники	headphones	🎧
4	Ноутбуки	laptops	💻
5	Планшети	tablets	📟
6	Ігрові консолі	game-consoles	🎮
7	Холодильники	fridges	❄️
8	Телевізори	tv	📺
9	Електро-чайники	electric-kettles	🫖
10	Пилососи	vacuum-cleaners	👩🏻‍🦯
11	Мікрохвильові печі	microwave-ovens	♨️
12	Пральні машини	washing-machines	🧼
13	Комп'ютери	PC	🖥️
14	Зарядні пристрої	chargers	⚡️
15	Кабелі	cables	🔌
16	Павербанки	power-banks	🔋
17	Захисне скло	protective-glass	🛡️
18	Чохли	covers	💼
\.


--
-- Data for Name: products_color; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_color (id, name, hex_code) FROM stdin;
1	Black	#000000
2	Cobalt Violet	#52566d
3	Sky Blue	#66ccff
4	White	#ffffff
5	Cosmic Orange	#f7803a
6	Deep Blue	#132c6f
7	Silver	#cccccc
8	Obsidian	#000000
9	Moonstone	#a2a6b7
10	Jade	#dce4cb
11	Porcelain	#ece6df
12	Gray	#32363c
13	Rose Gold	#dab5a8
14	Pine Green	#768376
15	Citrus	#ffcc66
16	Purple	#ff33ff
17	Starlit Green	#3b5e57
18	Mist Purple	#bbb8ce
\.


--
-- Data for Name: products_memoryoption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_memoryoption (id, label) FROM stdin;
1	256
2	512
3	1024
4	2048
5	128
\.


--
-- Data for Name: products_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_product_case_size_options; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_product_case_size_options (id, product_id, casesizeoption_id) FROM stdin;
14	7	1
15	7	2
16	8	3
17	8	4
18	70	1
19	70	2
20	71	1
21	71	2
22	72	5
23	72	6
24	74	8
25	74	6
26	74	7
\.


--
-- Data for Name: products_product_colors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_product_memory_options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_product_screen_size_options; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_product_screen_size_options (id, product_id, screensizeoption_id) FROM stdin;
29	30	9
30	30	10
31	30	7
32	31	9
33	31	5
34	31	6
35	31	7
36	33	5
37	33	6
38	33	7
39	33	8
40	33	9
41	34	5
42	34	6
43	34	7
44	34	9
45	34	10
46	34	11
47	35	1
48	35	2
49	35	3
50	35	4
51	47	7
52	47	9
53	47	12
54	47	13
55	47	14
56	47	15
\.


--
-- Data for Name: products_productcasesizeprice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_productcasesizeprice (id, price, old_price, case_size_id, product_id) FROM stdin;
1	12799.00	14999.00	1	7
2	13999.00	16499.00	2	7
3	22299.00	\N	3	8
4	23799.00	\N	4	8
5	13899.00	\N	1	70
6	15199.00	\N	2	70
7	8499.00	12499.00	1	71
8	10999.00	\N	2	71
9	18999.00	\N	5	72
10	20999.00	\N	6	72
11	19999.00	\N	7	74
12	23999.00	\N	6	74
13	25999.00	\N	8	74
\.


--
-- Data for Name: products_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_productimage (id, image, is_main, product_id, color_id) FROM stdin;
\.


--
-- Data for Name: products_productmemoryprice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productscreensizeprice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productspec; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_screensizeoption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_screensizeoption (id, label) FROM stdin;
1	24"
2	27"
3	32"
4	40"
5	43"
6	50"
7	55"
8	60"
9	65"
10	75"
11	85"
12	42"
13	48"
14	77"
15	83"
\.


--
-- Data for Name: reviews_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reviews_review (id, rating, text, is_approved, created_at, product_id, user_id, cons, pros) FROM stdin;
4	5	Супер!	t	2026-04-30 16:56:12.574+03	1	2		
5	5	Круті навушники!	t	2026-04-30 16:56:57.07+03	59	2		Звук
6	4	За свою ціну добре.	t	2026-04-30 16:57:52.436+03	157	2		
7	5	Круто	t	2026-05-05 13:06:20.009+03	83	2		
\.


--
-- Data for Name: users_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_profile (id, avatar, phone, balance, user_id, address) FROM stdin;
1	\N		0.00	1	
2	\N	+380954819231	0.00	2	м. Київ, вул. Героїв Дніпра, 62
\.


--
-- Data for Name: users_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_wishlist (id, added_at, product_id, user_id, color_id, memory_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 45, true);


--
-- Name: orders_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_cart_id_seq', 3, true);


--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_cartitem_id_seq', 1, false);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 8, true);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 16, true);


--
-- Name: products_brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_brand_id_seq', 44, true);


--
-- Name: products_casesizeoption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_casesizeoption_id_seq', 8, true);


--
-- Name: products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_category_id_seq', 18, true);


--
-- Name: products_color_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_color_id_seq', 18, true);


--
-- Name: products_memoryoption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_memoryoption_id_seq', 5, true);


--
-- Name: products_product_case_size_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_case_size_options_id_seq', 26, true);


--
-- Name: products_product_colors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_colors_id_seq', 324, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 185, true);


--
-- Name: products_product_memory_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_memory_options_id_seq', 138, true);


--
-- Name: products_product_screen_size_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_screen_size_options_id_seq', 56, true);


--
-- Name: products_productcasesizeprice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productcasesizeprice_id_seq', 13, true);


--
-- Name: products_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productimage_id_seq', 1, false);


--
-- Name: products_productmemoryprice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productmemoryprice_id_seq', 69, true);


--
-- Name: products_productscreensizeprice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productscreensizeprice_id_seq', 28, true);


--
-- Name: products_productspec_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productspec_id_seq', 89, true);


--
-- Name: products_screensizeoption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_screensizeoption_id_seq', 15, true);


--
-- Name: reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reviews_review_id_seq', 7, true);


--
-- Name: users_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_profile_id_seq', 2, true);


--
-- Name: users_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_wishlist_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: orders_cart orders_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_pkey PRIMARY KEY (id);


--
-- Name: orders_cart orders_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_user_id_key UNIQUE (user_id);


--
-- Name: orders_cartitem orders_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_pkey PRIMARY KEY (id);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: products_brand products_brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_brand
    ADD CONSTRAINT products_brand_pkey PRIMARY KEY (id);


--
-- Name: products_brand products_brand_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_brand
    ADD CONSTRAINT products_brand_slug_key UNIQUE (slug);


--
-- Name: products_casesizeoption products_casesizeoption_label_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_casesizeoption
    ADD CONSTRAINT products_casesizeoption_label_key UNIQUE (label);


--
-- Name: products_casesizeoption products_casesizeoption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_casesizeoption
    ADD CONSTRAINT products_casesizeoption_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_slug_key UNIQUE (slug);


--
-- Name: products_color products_color_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_color
    ADD CONSTRAINT products_color_pkey PRIMARY KEY (id);


--
-- Name: products_memoryoption products_memoryoption_label_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_memoryoption
    ADD CONSTRAINT products_memoryoption_label_key UNIQUE (label);


--
-- Name: products_memoryoption products_memoryoption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_memoryoption
    ADD CONSTRAINT products_memoryoption_pkey PRIMARY KEY (id);


--
-- Name: products_product_case_size_options products_product_case_si_product_id_casesizeoptio_8e435336_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_case_size_options
    ADD CONSTRAINT products_product_case_si_product_id_casesizeoptio_8e435336_uniq UNIQUE (product_id, casesizeoption_id);


--
-- Name: products_product_case_size_options products_product_case_size_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_case_size_options
    ADD CONSTRAINT products_product_case_size_options_pkey PRIMARY KEY (id);


--
-- Name: products_product_colors products_product_colors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_colors
    ADD CONSTRAINT products_product_colors_pkey PRIMARY KEY (id);


--
-- Name: products_product_colors products_product_colors_product_id_color_id_28f4cef1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_colors
    ADD CONSTRAINT products_product_colors_product_id_color_id_28f4cef1_uniq UNIQUE (product_id, color_id);


--
-- Name: products_product_memory_options products_product_memory__product_id_memoryoption__fad7509d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_memory_options
    ADD CONSTRAINT products_product_memory__product_id_memoryoption__fad7509d_uniq UNIQUE (product_id, memoryoption_id);


--
-- Name: products_product_memory_options products_product_memory_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_memory_options
    ADD CONSTRAINT products_product_memory_options_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: products_product_screen_size_options products_product_screen__product_id_screensizeopt_34ae2664_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_screen_size_options
    ADD CONSTRAINT products_product_screen__product_id_screensizeopt_34ae2664_uniq UNIQUE (product_id, screensizeoption_id);


--
-- Name: products_product_screen_size_options products_product_screen_size_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_screen_size_options
    ADD CONSTRAINT products_product_screen_size_options_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_slug_key UNIQUE (slug);


--
-- Name: products_productcasesizeprice products_productcasesize_product_id_case_size_id_0b79b4ab_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productcasesizeprice
    ADD CONSTRAINT products_productcasesize_product_id_case_size_id_0b79b4ab_uniq UNIQUE (product_id, case_size_id);


--
-- Name: products_productcasesizeprice products_productcasesizeprice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productcasesizeprice
    ADD CONSTRAINT products_productcasesizeprice_pkey PRIMARY KEY (id);


--
-- Name: products_productimage products_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimage_pkey PRIMARY KEY (id);


--
-- Name: products_productmemoryprice products_productmemoryprice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productmemoryprice
    ADD CONSTRAINT products_productmemoryprice_pkey PRIMARY KEY (id);


--
-- Name: products_productmemoryprice products_productmemoryprice_product_id_memory_id_68131d0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productmemoryprice
    ADD CONSTRAINT products_productmemoryprice_product_id_memory_id_68131d0c_uniq UNIQUE (product_id, memory_id);


--
-- Name: products_productscreensizeprice products_productscreensi_product_id_screen_size_i_7c84cdf8_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productscreensizeprice
    ADD CONSTRAINT products_productscreensi_product_id_screen_size_i_7c84cdf8_uniq UNIQUE (product_id, screen_size_id);


--
-- Name: products_productscreensizeprice products_productscreensizeprice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productscreensizeprice
    ADD CONSTRAINT products_productscreensizeprice_pkey PRIMARY KEY (id);


--
-- Name: products_productspec products_productspec_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productspec
    ADD CONSTRAINT products_productspec_pkey PRIMARY KEY (id);


--
-- Name: products_screensizeoption products_screensizeoption_label_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_screensizeoption
    ADD CONSTRAINT products_screensizeoption_label_key UNIQUE (label);


--
-- Name: products_screensizeoption products_screensizeoption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_screensizeoption
    ADD CONSTRAINT products_screensizeoption_pkey PRIMARY KEY (id);


--
-- Name: reviews_review reviews_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_pkey PRIMARY KEY (id);


--
-- Name: users_profile users_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_profile
    ADD CONSTRAINT users_profile_pkey PRIMARY KEY (id);


--
-- Name: users_profile users_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_profile
    ADD CONSTRAINT users_profile_user_id_key UNIQUE (user_id);


--
-- Name: users_wishlist users_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_pkey PRIMARY KEY (id);


--
-- Name: users_wishlist users_wishlist_user_id_product_id_color_8de3aab6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_user_id_product_id_color_8de3aab6_uniq UNIQUE (user_id, product_id, color_id, memory_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: orders_cartitem_cart_id_529df5fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_cart_id_529df5fa ON public.orders_cartitem USING btree (cart_id);


--
-- Name: orders_cartitem_case_size_id_e42efd1d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_case_size_id_e42efd1d ON public.orders_cartitem USING btree (case_size_id);


--
-- Name: orders_cartitem_color_id_0772bf63; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_color_id_0772bf63 ON public.orders_cartitem USING btree (color_id);


--
-- Name: orders_cartitem_memory_id_558edefd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_memory_id_558edefd ON public.orders_cartitem USING btree (memory_id);


--
-- Name: orders_cartitem_product_id_55063ee7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_product_id_55063ee7 ON public.orders_cartitem USING btree (product_id);


--
-- Name: orders_cartitem_screen_size_id_56241a42; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_screen_size_id_56241a42 ON public.orders_cartitem USING btree (screen_size_id);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_orderitem_case_size_id_c6bf0bd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_case_size_id_c6bf0bd8 ON public.orders_orderitem USING btree (case_size_id);


--
-- Name: orders_orderitem_color_id_df5636e7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_color_id_df5636e7 ON public.orders_orderitem USING btree (color_id);


--
-- Name: orders_orderitem_memory_id_6b1cede3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_memory_id_6b1cede3 ON public.orders_orderitem USING btree (memory_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: orders_orderitem_screen_size_id_c0cb27e3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_screen_size_id_c0cb27e3 ON public.orders_orderitem USING btree (screen_size_id);


--
-- Name: products_brand_slug_925fd11b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_brand_slug_925fd11b_like ON public.products_brand USING btree (slug varchar_pattern_ops);


--
-- Name: products_casesizeoption_label_d6ede770_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_casesizeoption_label_d6ede770_like ON public.products_casesizeoption USING btree (label varchar_pattern_ops);


--
-- Name: products_category_slug_c558efae_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_slug_c558efae_like ON public.products_category USING btree (slug varchar_pattern_ops);


--
-- Name: products_memoryoption_label_c4572ca6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_memoryoption_label_c4572ca6_like ON public.products_memoryoption USING btree (label varchar_pattern_ops);


--
-- Name: products_product_brand_id_3e2e8fd1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_brand_id_3e2e8fd1 ON public.products_product USING btree (brand_id);


--
-- Name: products_product_case_size_options_casesizeoption_id_44a021b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_case_size_options_casesizeoption_id_44a021b8 ON public.products_product_case_size_options USING btree (casesizeoption_id);


--
-- Name: products_product_case_size_options_product_id_5eca3d77; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_case_size_options_product_id_5eca3d77 ON public.products_product_case_size_options USING btree (product_id);


--
-- Name: products_product_category_id_9b594869; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_category_id_9b594869 ON public.products_product USING btree (category_id);


--
-- Name: products_product_colors_color_id_27abec57; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_colors_color_id_27abec57 ON public.products_product_colors USING btree (color_id);


--
-- Name: products_product_colors_product_id_af745b3e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_colors_product_id_af745b3e ON public.products_product_colors USING btree (product_id);


--
-- Name: products_product_memory_options_memoryoption_id_dcabb777; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_memory_options_memoryoption_id_dcabb777 ON public.products_product_memory_options USING btree (memoryoption_id);


--
-- Name: products_product_memory_options_product_id_f6d319a7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_memory_options_product_id_f6d319a7 ON public.products_product_memory_options USING btree (product_id);


--
-- Name: products_product_screen_si_screensizeoption_id_3542abb5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_screen_si_screensizeoption_id_3542abb5 ON public.products_product_screen_size_options USING btree (screensizeoption_id);


--
-- Name: products_product_screen_size_options_product_id_dfe9caea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_screen_size_options_product_id_dfe9caea ON public.products_product_screen_size_options USING btree (product_id);


--
-- Name: products_product_slug_70d3148d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_slug_70d3148d_like ON public.products_product USING btree (slug varchar_pattern_ops);


--
-- Name: products_productcasesizeprice_case_size_id_48a6f20a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productcasesizeprice_case_size_id_48a6f20a ON public.products_productcasesizeprice USING btree (case_size_id);


--
-- Name: products_productcasesizeprice_product_id_cfcbc091; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productcasesizeprice_product_id_cfcbc091 ON public.products_productcasesizeprice USING btree (product_id);


--
-- Name: products_productimage_color_id_cc9980a5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productimage_color_id_cc9980a5 ON public.products_productimage USING btree (color_id);


--
-- Name: products_productimage_product_id_e747596a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productimage_product_id_e747596a ON public.products_productimage USING btree (product_id);


--
-- Name: products_productmemoryprice_memory_id_06628dfb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productmemoryprice_memory_id_06628dfb ON public.products_productmemoryprice USING btree (memory_id);


--
-- Name: products_productmemoryprice_product_id_13bc6189; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productmemoryprice_product_id_13bc6189 ON public.products_productmemoryprice USING btree (product_id);


--
-- Name: products_productscreensizeprice_product_id_dfefa8cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productscreensizeprice_product_id_dfefa8cf ON public.products_productscreensizeprice USING btree (product_id);


--
-- Name: products_productscreensizeprice_screen_size_id_99094e32; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productscreensizeprice_screen_size_id_99094e32 ON public.products_productscreensizeprice USING btree (screen_size_id);


--
-- Name: products_productspec_product_id_1df3a992; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productspec_product_id_1df3a992 ON public.products_productspec USING btree (product_id);


--
-- Name: products_screensizeoption_label_f33e1aad_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_screensizeoption_label_f33e1aad_like ON public.products_screensizeoption USING btree (label varchar_pattern_ops);


--
-- Name: reviews_review_product_id_ce2fa4c6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_review_product_id_ce2fa4c6 ON public.reviews_review USING btree (product_id);


--
-- Name: reviews_review_user_id_875caff2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_review_user_id_875caff2 ON public.reviews_review USING btree (user_id);


--
-- Name: users_wishlist_color_id_a9829c53; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_wishlist_color_id_a9829c53 ON public.users_wishlist USING btree (color_id);


--
-- Name: users_wishlist_memory_id_9074898a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_wishlist_memory_id_9074898a ON public.users_wishlist USING btree (memory_id);


--
-- Name: users_wishlist_product_id_dcf62154; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_wishlist_product_id_dcf62154 ON public.users_wishlist USING btree (product_id);


--
-- Name: users_wishlist_user_id_6507553e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_wishlist_user_id_6507553e ON public.users_wishlist USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cart orders_cart_user_id_121a069e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_user_id_121a069e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_cart_id_529df5fa_fk_orders_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_cart_id_529df5fa_fk_orders_cart_id FOREIGN KEY (cart_id) REFERENCES public.orders_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_case_size_id_e42efd1d_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_case_size_id_e42efd1d_fk_products_ FOREIGN KEY (case_size_id) REFERENCES public.products_casesizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_color_id_0772bf63_fk_products_color_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_color_id_0772bf63_fk_products_color_id FOREIGN KEY (color_id) REFERENCES public.products_color(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_memory_id_558edefd_fk_products_memoryoption_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_memory_id_558edefd_fk_products_memoryoption_id FOREIGN KEY (memory_id) REFERENCES public.products_memoryoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_product_id_55063ee7_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_product_id_55063ee7_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_screen_size_id_56241a42_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_screen_size_id_56241a42_fk_products_ FOREIGN KEY (screen_size_id) REFERENCES public.products_screensizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_case_size_id_c6bf0bd8_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_case_size_id_c6bf0bd8_fk_products_ FOREIGN KEY (case_size_id) REFERENCES public.products_casesizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_color_id_df5636e7_fk_products_color_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_color_id_df5636e7_fk_products_color_id FOREIGN KEY (color_id) REFERENCES public.products_color(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_memory_id_6b1cede3_fk_products_memoryoption_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_memory_id_6b1cede3_fk_products_memoryoption_id FOREIGN KEY (memory_id) REFERENCES public.products_memoryoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_screen_size_id_c0cb27e3_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_screen_size_id_c0cb27e3_fk_products_ FOREIGN KEY (screen_size_id) REFERENCES public.products_screensizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_brand_id_3e2e8fd1_fk_products_brand_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_brand_id_3e2e8fd1_fk_products_brand_id FOREIGN KEY (brand_id) REFERENCES public.products_brand(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_case_size_options products_product_cas_casesizeoption_id_44a021b8_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_case_size_options
    ADD CONSTRAINT products_product_cas_casesizeoption_id_44a021b8_fk_products_ FOREIGN KEY (casesizeoption_id) REFERENCES public.products_casesizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_case_size_options products_product_cas_product_id_5eca3d77_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_case_size_options
    ADD CONSTRAINT products_product_cas_product_id_5eca3d77_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_category_id_9b594869_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_category_id_9b594869_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_colors products_product_col_product_id_af745b3e_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_colors
    ADD CONSTRAINT products_product_col_product_id_af745b3e_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_colors products_product_colors_color_id_27abec57_fk_products_color_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_colors
    ADD CONSTRAINT products_product_colors_color_id_27abec57_fk_products_color_id FOREIGN KEY (color_id) REFERENCES public.products_color(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_memory_options products_product_mem_memoryoption_id_dcabb777_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_memory_options
    ADD CONSTRAINT products_product_mem_memoryoption_id_dcabb777_fk_products_ FOREIGN KEY (memoryoption_id) REFERENCES public.products_memoryoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_memory_options products_product_mem_product_id_f6d319a7_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_memory_options
    ADD CONSTRAINT products_product_mem_product_id_f6d319a7_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_screen_size_options products_product_scr_product_id_dfe9caea_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_screen_size_options
    ADD CONSTRAINT products_product_scr_product_id_dfe9caea_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product_screen_size_options products_product_scr_screensizeoption_id_3542abb5_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product_screen_size_options
    ADD CONSTRAINT products_product_scr_screensizeoption_id_3542abb5_fk_products_ FOREIGN KEY (screensizeoption_id) REFERENCES public.products_screensizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productcasesizeprice products_productcase_case_size_id_48a6f20a_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productcasesizeprice
    ADD CONSTRAINT products_productcase_case_size_id_48a6f20a_fk_products_ FOREIGN KEY (case_size_id) REFERENCES public.products_casesizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productcasesizeprice products_productcase_product_id_cfcbc091_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productcasesizeprice
    ADD CONSTRAINT products_productcase_product_id_cfcbc091_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productimage products_productimag_product_id_e747596a_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimag_product_id_e747596a_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productimage products_productimage_color_id_cc9980a5_fk_products_color_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimage_color_id_cc9980a5_fk_products_color_id FOREIGN KEY (color_id) REFERENCES public.products_color(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productmemoryprice products_productmemo_memory_id_06628dfb_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productmemoryprice
    ADD CONSTRAINT products_productmemo_memory_id_06628dfb_fk_products_ FOREIGN KEY (memory_id) REFERENCES public.products_memoryoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productmemoryprice products_productmemo_product_id_13bc6189_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productmemoryprice
    ADD CONSTRAINT products_productmemo_product_id_13bc6189_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productscreensizeprice products_productscre_product_id_dfefa8cf_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productscreensizeprice
    ADD CONSTRAINT products_productscre_product_id_dfefa8cf_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productscreensizeprice products_productscre_screen_size_id_99094e32_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productscreensizeprice
    ADD CONSTRAINT products_productscre_screen_size_id_99094e32_fk_products_ FOREIGN KEY (screen_size_id) REFERENCES public.products_screensizeoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productspec products_productspec_product_id_1df3a992_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productspec
    ADD CONSTRAINT products_productspec_product_id_1df3a992_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews_review reviews_review_product_id_ce2fa4c6_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_product_id_ce2fa4c6_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews_review reviews_review_user_id_875caff2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_user_id_875caff2_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profile users_profile_user_id_2112e78d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_profile
    ADD CONSTRAINT users_profile_user_id_2112e78d_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_wishlist users_wishlist_color_id_a9829c53_fk_products_color_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_color_id_a9829c53_fk_products_color_id FOREIGN KEY (color_id) REFERENCES public.products_color(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_wishlist users_wishlist_memory_id_9074898a_fk_products_memoryoption_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_memory_id_9074898a_fk_products_memoryoption_id FOREIGN KEY (memory_id) REFERENCES public.products_memoryoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_wishlist users_wishlist_product_id_dcf62154_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_product_id_dcf62154_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_wishlist users_wishlist_user_id_6507553e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_wishlist
    ADD CONSTRAINT users_wishlist_user_id_6507553e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict gBnRh0UKw3THFosMQRLRPFCASa1NRfCIVUBBzl3MxB7JgpISuFZPMZQP9Ojv01k

